@font-face {
    font-family: "Sotashi";
    src: url("/satoshi/Satoshi-Light.otf") format("truetype");
    font-weight: 400;
    font-style: light;
    font-display: swap;
}


@font-face {
  font-family: "Sotashi";
  src: url("/satoshi/Satoshi-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sotashi";
  src: url("/satoshi/Satoshi-Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sotashi";
  src: url("/satoshi/Satoshi-SemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sotashi";
  src: url("/satoshi/Satoshi-Black.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-sotashi {
  font-family: "Sotashi", sans-serif;
}
