@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-yellow: #FFF2B6;
  --card-black: #1E1E1E;
  --card-blue: #56CCF2;
  --card-ash: #FFF9F3;
  --card-red: #7A3838;
  --card-purple: #DACEFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-satoshi);
  --font-bricolage: var(--font-bricolage);
  --font-unbounded: var(--font-unbounded);

  --color-card-yellow: var(--card-yellow);
  --color-card-black: var(--card-black);
  --color-card-blue: var(--card-blue);
  --color-card-ash: var(--card-ash);
  --color-card-red: var(--card-red);
  --color-card-purple: var(--card-purple);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #0a0a0a;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.clip-spine {
  clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 90%, 0 10%, 25% 0);
}

body{
  transition-property: opacity, transform, filter, background;;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-transition{
  opacity: 0;
  transform: scale(0.98);
  filter: blur(2px);
}


.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}