@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-yellow: #FFF2B6;
  --card-black: #1E1E1E;
  --card-blue: #56CCF2;
  --card-ash: #FFF9F3;
  --card-red: #7A3838;
  --card-purple: #DACEFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-satoshi);
  --font-bricolage: var(--font-bricolage);
  --font-unbounded: var(--font-unbounded);

  --color-card-yellow: var(--card-yellow);
  --color-card-black: var(--card-black);
  --color-card-blue: var(--card-blue);
  --color-card-ash: var(--card-ash);
  --color-card-red: var(--card-red);
  --color-card-purple: var(--card-purple);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #0a0a0a;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.clip-spine {
  clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 90%, 0 10%, 25% 0);
}

body{
  transition-property: opacity, transform, filter, background;;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-transition{
  opacity: 0;
  transform: scale(0.98);
  filter: blur(2px);
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #56CCF2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #F2EAE2;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
